html,body {
    height: 100%;
    width: 100%;
    font-family: 'ceraPro';
    margin: 0;
    user-select: none;
    background: #363636;
}
@font-face {
    font-family: 'ceraPro';
    src: url('Cera\ Pro\ Black.otf');
}
@font-face {
    font-family: 'ceraLight';
    src: url('Cera\ Pro\ Light.otf');
}
*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.headingText{
    height: 10%;
    width: 100%;
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    background:#e8175d;
    flex-direction: row;
    /*position: fixed;
    top:0;*/
}
.openBtnDiv{
    width: 20%;
    height: 100%;
}
.headingText>span{
    width: 60%;
    height: 100%;
}
.closeBtnDiv{
    width: 20%;
    height: 100%;
}
.entireContainer{
    height: 90%;
    width: 100%;
    flex-direction: column;
}
/*.popupBtnDiv{
    height: 10%;
    width: 100%;
    flex-direction: row;
    background: #363636;
}
.openBtnDiv{
    height: 100%;
    width: 20%;
}
.closeBtnDiv{
    height: 100%;
    width: 20%;
}
.dummyBtnDiv{
    height: 100%;
    width: 60%;
}
.entireContent{
    height:100%;
    width:100%;
    border-radius:15px;
    background:#474747;
}*/
.container {
    height: 90%;
    width: 100%;
}
.popContentDiv{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.leftContainer{
    width: 49.75%;
    height: 100%;
    background-color:#474747;
}
.formContainer{
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-block-end: 0 !important;
    margin-top: 0 !important;
}
.errMsgDiv{
    height: 5%;
    width: 100%;
}
.submitBtnDiv{
    height: 10%;
    width: 100%;
}
.inputDetailsDiv{
    height: 30%;
    width: 100%;
    flex-direction: column;
}
.nameInputTextDiv{
    height: 50%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.nameLabelDiv{
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    color: #ffffff;
    font-weight: bold;
}
.nameInputDiv{
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
}
.nameInputDiv>input{
    width: 90%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ffffff;
    color: #cc527a;
    font-family: 'ceraLight';
    font-weight: bold;
}
.deptInputTextDiv{
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
}
.deptLabelDiv{
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    color: #ffffff;
    font-weight: bold;
}
.deptInputDiv{
    width: 70%;
    height: 100%;
    justify-content: space-evenly;
}
.deptInputDiv>input{
    width: 90%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #ffffff;
    color: #cc527a;
    font-family: 'ceraLight';
    font-weight: bold;
}
.labelHeaderDiv{
    height: 10%;
    width: 100%;
    background-color: #363636;
    color:#ffffff;
    font-weight: bold;
}
.dummyDiv{
    height: 45%;
    width: 100%;
    background-color:#474747;
}
.rightContainer{
    width: 49.75%;
    height: 100%;
}
.middleContainer{
    width: 0.5%;
    height: 100%;
    background: #ffffff;
}
.dataContainer{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.spanHeaderDiv{
    height: 10%;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    background-color:#363636;
}
.postsDiv{
    height: 90%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#474747;
}
.postContainer{
    color: #ffffff;
    width: 100%;
    background:#cc527a;
}
.postContainerStatic{
    color: #ffffff;
    width: 100%;
    background:#e8175d;

}
::placeholder{
    color: #cc527a;
    font-weight: bold;
}
i {
    cursor: pointer;
}
#posts div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#msg {
    font-size: large;
    font-weight: bold;
    color: #cc527a;
}
button{
    background: #e8175d;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.material-symbols-outlined{
    color: #ffffff;
}

/*
theme2
light grey #ffffff
medium grey #474747
darker grey #363636
red #e8175d
lighter red #cc527a
*/

/*
*/